{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.10.2/styles.min.css">
{% endblock %}
<!-- <link
  rel="stylesheet"
  href="https://unpkg.com/@shopify/polaris@4.10.2/styles.min.css"
/> -->

  {% block titile%}
      {% if title %}
        {{ title }} - Python Shopify Test
      {% else %}
        testing a flask embedded shopify app
      {% endif %}
  {% endblock %}

  {% block navbar %}
  {{nav.fake_data.render()}}
  {% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
