{% extends "base.html" %}
	{% block content %}
	<form action="" method="post">
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<div>
			<p>
				{{ form.number_of_customers_field.label }}	 <br>
				{{ form.number_of_customers_field }}
			</p>
			<p>
				{{ form.number_of_products_field.label }}<br>
				{{ form.number_of_products_field }} <br>
			</p>
			<p> {{ form.submit_button }}
		</div>
	</form>
	<button id="delete_customer_button">Delete Customers</button>
	<button id="delete_Products_button">Delete Products</button>

	<script>
		let delete_btn = document.getElementById('delete_customer_button');
		delete_btn.onclick = function(){
			if (confirm('Do you really want to delete all the customer information you created?')){
				// console.log("test");
				fetch('/_delete_customers').then(function(){
					location.replace('/index' );
					// alert('Your Item Has Been Deleted.')
				});
			}
		};
	</script>
	<script>
		let delete_prod_btn = document.getElementById('delete_Products_button');
		delete_prod_btn.onclick = function(){
			if (confirm('Do you really want to delete all the product information you created?')){
				// console.log("test");
				fetch('/_delete_products').then(function(){
					location.replace('/index' );

				});
			}
		};
	</script>

  {% endblock %}
