{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

  <div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
  </div>

  <div><br>
    <button id="create_orders_button" class='btn btn-primary'>Create Order</button>
  </div>

  <script>
    let create_order_btn = document.getElementById('create_orders_button');
    create_order_btn.onclick = function(){
      if (confirm('Do you really want to add a new draft order?')){
        // console.log("test");
        fetch('/_create_order').then(function(){
          location.replace('/index' );

        });
      }
    };
  </script>
{% endblock %}
